# Server
PORT=3000

# Telesom SMS API
TELESOM_USERNAME=USERNAME_q4edmLRZ
TELESOM_PASSWORD=PASSWORD_XlPs5KKK
TELESOM_SENDER_ID=HodanClinic
TELESOM_CLIENT_REF=TLS-238

# WAAFI Payment API
WAAFI_API_KEY=your_waafi_api_key
WAAFI_MERCHANT_ID=your_waafi_merchant_id
WAAFI_ACCOUNT_ID=your_waafi_account_id

# Firebase Admin
FIREBASE_PROJECT_ID=hodanwalhadskinclinic
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@hodanwalhadskinclinic.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----"
